.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
docs/**
pnpm-lock.yaml
Makefile
.npmrc
python/lib/**/__pycache__/**
python/lib/**/*.pyc
python/lib/**/*.pyi
python/lib/**/*.dist-info/RECORD
